@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-image: linear-gradient(to left, rgb(255, 211, 130), rgb(255, 198, 145), rgb(255, 219, 99));
}

header {
    background-image: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 183, 28));
    padding-top: 10px;
    margin-bottom: 40px;
    border: 1px solid rgb(151, 73, 0);
}

h1#principal {
    font-size: 2.3em;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

p {
    padding: 20px;
}

div#conteudo {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 40px;
    width: 1200px;
    height: 1900px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
}

div#imgp {
    background:  url(../img/pave.jpeg) no-repeat;
    height: 150px;
    width: 230px;
    margin-top: 40px;
    margin: auto;
}

section.img1 {
    margin-bottom: 50px;
    background: url(../img/paveg.jpg) no-repeat;
    background-size: cover;
    height: 900px;
    background-attachment: fixed;
}

section.conteider {
    background-color: white;
}

#torta {
    background: url(../img/Torta\ holandesa.jpg);
    margin-bottom: 50px;
    background-size: cover;
    height: 900px;
    background-attachment: fixed;
}

div#img2 {
    background:  url(../img/torta.avif) no-repeat;
    height: 150px;
    width: 230px;
    background-size: cover;
    margin-top: 40px;
    margin: auto;
}

.exp {
    text-align: center;
    font-size: 1.5em;
}